/* Import af Quicksand */
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: white;
}
h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 100px 0 0 0;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 10px 0 25px 0;
}

h3 {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 20px 0;
}

h4 {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 20px 0;
}

h5 {
  font-size: 12px;
  font-weight: 500;
}

p {
  font-size: 12px;
  font-weight: 100;
}

.center {
  text-align: center;
}

.primary-button {
  background-color: #516689;
  display: inline-block;
  color: white;
  border: none;
  padding: 10px 35px;
  font-weight: 500;
  font-size: 10px;
  border-radius: 7px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  color: white;
  text-decoration-line: none;
}

.white-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 7px;
  padding: 10px 35px;
  font-weight: 500;
  font-size: 10px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  color: black;
}

/* hero - Header med baggrundsbillede */
.hero {
  background: url("../img/Homepage_header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.logo {
  height: 40px;
}

.hero-content {
  text-align: center;
}

/* Sektion 2: blå line der ligger over hero */
.section2 {
  background-color: #516689;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section2 .overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.three-boxes {
  display: flex;
  gap: 2px;
  width: 100%;
  justify-content: space-evenly;
}

.box {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 8px;
  overflow: hidden;
}

.box img {
  max-width: 10%;
  height: auto;
  margin-bottom: auto;
}

.box p {
  margin: 0;
  color: #ffffff;
}
/* Sektion 3 - talerkner med mad */
.section3 {
  background: url("../img/Homepage_section 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  color: black;
}

/* Sektion 4 */
.section4 {
  background-color: #ccd4d5;
  padding: 60px;
  height: auto;
  color: black;
}
.three-display {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
  margin: 10px 0;
  padding: 35px 0px 15px 0px;
  flex-wrap: wrap;
  border: #ffffff;
}

.display {
  flex: 1 1 30%; /* fleksibel bredde */
  border: 2px solid #ccc; /* ramme */
  padding: 15px;
  min-width: 250px;
  max-width: 250px;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* lidt dybde */
  border-radius: 8px;
  background-color: white;
  box-sizing: border-box;
}

.display img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.display h5 {
  text-align: left;
  margin: 10px 0 10px 0;
}
.display p {
  margin: 0;
  color: black;
}
/* Sektion 5 */
.section5 {
  background-color: #ffffff;
  padding: 60px;
  height: 100%;
  color: black;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertikal centreret indhold */
  gap: 50px; /* Afstand mellem billede og tekst */
}

.info_image img {
  min-width: 70px;
  max-width: 400px;
  height: auto;
  display: block;
}

.info_box {
  max-width: 600px;
}

.info p {
  margin: 20px 0 20px 0;
  color: black;
}

/* Sektion 6 */
.section6 {
  background-color: #516689;
  padding: 70px;
  height: 100%x;
  color: white;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 35px;
}
.section6 img {
  max-width: 60px;
  height: auto;
}

.list {
  display: flex;
  flex-direction: column; /* Gør listen vertikal */
  align-items: center; /* Centrerer hvert list_item horisontalt */
  margin-top: 40px;
}

.list_item {
  display: flex;
  align-items: center;
  gap: 10px; /* Afstand mellem billede og tekst */
  margin: 10px;
}

.list_item img {
  height: 25px;
}
.section6 p {
  margin-left: 10px;
  color: #ffffff;
}
/* Sektion 7 - Baggrundsbillede */
.section7 {
<<<<<<< HEAD
  background: url("../img/section7-bg.jpg") no-repeat center center/cover;
  height: 100vh;
  color: white;
=======
  background: url("../img/Tunø_baggrund.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  color: black;
}

.info_7 {
>>>>>>> 89f4b81 (update the pagde)
  display: flex;
  justify-content: center;
  align-items: center; /* Vertikal centreret indhold */
  gap: 50px; /* Afstand mellem billede og tekst */
  height: fit-content;
  background: #ffffff;
}

.info_image_7 img {
  padding-left: 20px;
  max-width: 350px;
  height: auto;
  display: block;
}

.info_box_7 {
  padding-right: 50px;
}

.info_7 h3 {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}

.info_7 p {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 20px;
  color: black;
}

/* Sektion 8 */
.section8 {
  background-color: #66556a;
  height: 100%;
  padding: 40px;
}

.section8 p {
  font-size: 20px;
  font-weight: 200;
}

/* Sektion 9 - Footer */
.footer {
  background-color: #516689;
  height: 100%;
  text-align: center;
  padding: 20px 0 15px 0;
}

.footer img {
  height: 40px;
  margin: 20px;
}

.footer p {
  font-size: 10px;
  font-weight: 100;
}
